<div class="grid-x">
  <div class="cell small-12 center">
    I'm fan of
      <div class="tooltip">
        <span class="tooltiptext">RedHat that's actualy blue</span>
        <img src="assets/img/redhat.svg" class="emoji">.</div> <br>
         You can find me siting in front of computer. Mostly.<br>
         I had been outside a couple of times. To proof that I offer my Instagram stream.
  </div>
  <div *ngFor="let photo of photos.data" class="cell small-6 medium-4 large-3">
    <img src="{{photo.images.standard_resolution.url}}" >
  </div>
</div>
<div class="corner"></div>


