<div class="grid-container">
<div class="grid-x">
  <div class="cell small-12 center">
    <p>
      Vyvýjam webové aplikácie od architektúry až po nasadenie.
    </p>
  </div>
</div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
    <div class="cell">
      <div class="card">
        <img src="assets/img/portfolio/pd300.jpg">
        <div class="card-section">
          <h4>Performance department</h4>
          <p>Komplet implementácia na funkčný spravovateľný web postavený na wordpresse. </p>
          <p class="technologies"></p>
        </div>
      </div>
    </div>
    <div class="cell">
        <div class="card">
          <img src="assets/img/portfolio/coft300.jpg">
          <div class="card-section">
            <h4>Coft</h4>
            <p>Kontrola váženia pre nemenavanú odnož Agrofertu.</p>
          </div>
        </div>
      </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/portfolio/zasys300.jpg">
        <div class="card-section">
          <h4>Zasys s.r.o.</h4>
          <p>Kompletný branding, SEO, web spoločnosti.</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/portfolio/paging300.jpg">
        <div class="card-section">
          <h4>Generický stránkovač</h4>
          <p>Komponent vyvýjaný pre Ďalšie použitie. Z ohľadom na rýchlosť načátania, animácie, SEO a UX.</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/portfolio/game300.jpg">
        <div class="card-section">
          <h4>Hra Raspacman</h4>
          <p>Iba školský projekt. Plain JS</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <img src="assets/img/portfolio/gg300.jpg">
        <div class="card-section">
          <h4>GoodGlass flaška</h4>
          <p>Implementácia frontendových funkcií pre ekologický ligtweight eshop.</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <iframe width="300" height="300" src="https://www.youtube-nocookie.com/embed/eDgFbYOGzl4?rel=0&amp;showinfo=0&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="card-section">
          <h4>Moje detstvo</h4>
          <p>Už koncom základnej školy som robil s SQL,PHP, JS.. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="cell center small-12">
      <a href="#" routerLink="contact">
        <div class="btn">
          <span>Kontaktujte ma</span>
        </div>
      </a>
    </div>
  </div>
</div>

