<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-12 center">
      <p>
        Vyvíjam webové aplikácie od architektúry až po nasadenie.
      </p>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">
    <div class="cell">
      <div class="card">
        <a target="_blank" href="https://performancedepartment.nl/">
          <img src="assets/img/portfolio/pd300.jpg">
        </a>
        <div class="card-section">
          <h4>Performance department</h4>
          <p>Komplet implementácia na funkčný spravovateľný web postavený na wordpresse. </p>
        </div>
        <div class="card-divider">
          <p class="technologies">jQuery, Sage/roots, SCSS</p>
        </div>
      </div>
    </div>
    <div class="cell">
        <div class="card">
          <a target="_blank" href="https://coft.brecska.sk/">
            <img src="assets/img/portfolio/coft300.jpg">
          </a>
          <div class="card-section">
            <h4>Coft</h4>
            <p>Kontrola váženia pre nemenavanú odnož Agrofertu.</p>
          </div>
          <div class="card-divider">
            <p class="technologies">C#, MySQL, PHP, Angular</p>
          </div>
        </div>
      </div>
    <div class="cell">
      <div class="card">
        <a target="_blank" href="http://zasys.sk/">
          <img src="assets/img/portfolio/zasys300.jpg">
        </a>
        <div class="card-section">
          <h4>Zasys s.r.o.</h4>
          <p>Kompletný branding a web spoločnosti.</p>
        </div>
        <div class="card-divider">
          <p class="technologies">html</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <a target="_blank" href="https://github.com/pepies/Sage-wordpress-pagination/">
          <img src="assets/img/portfolio/paging300.jpg">
        </a>
        <div class="card-section">
          <h4>Generický stránkovač</h4>
          <p>Komponent vyvíjaný pre ďalšie použitie. Z ohľadom na rýchlosť načátania, animácie, SEO a UX.</p>
        </div>
        <div class="card-divider">
          <p class="technologies">jQuery, laravel blade</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <a target="_blank" href="https://raspacman.brecska.sk/">
          <img src="assets/img/portfolio/game300.jpg">
        </a>
        <div class="card-section">
          <h4>Hra Raspacman</h4>
          <p>Iba školský projekt.</p>
        </div>
        <div class="card-divider">
          <p class="technologies">Plain JS</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <a target="_blank" href="https://www.mygoodglass.com/">
          <img src="assets/img/portfolio/gg300.jpg">
        </a>
        <div class="card-section">
          <h4>GoodGlass</h4>
          <p>Implementácia frontendových funkcií pre ekologický ligtweight eshop.</p>
        </div>
        <div class="card-divider">
          <p class="technologies">SCSS, jQuery, Wordpress</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <iframe width="300" height="300" src="https://www.youtube-nocookie.com/embed/eDgFbYOGzl4?rel=0&amp;showinfo=0&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div class="card-section">
          <h4>Forse - moje detstvo</h4>
          <p>Už koncom základnej školy som vyvíjal komplikované webové aplikácie.</p>
        </div>
        <div class="card-divider">
          <p class="technologies">SQL,PHP, JS, CSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x">
    <div class="cell center small-12">
      <a routerLink="/contact">
        <div class="btn">
          <span>Kontaktujte ma</span>
        </div>
      </a>
    </div>
  </div>
</div>

