<div class="center">
  <br>
    <h2>Write me, I'll be happy.</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <ul>
      <li>
        <input type="text" name="contact" maxlength="100" formControlName="customerContact" placeholder="Contact on you"
        [class.error]="contactForm.controls.customerContact.errors && (contactForm.touched || contactForm.dirty)">
      </li>
      <li *ngIf="isPhone(contactForm.controls.customerContact)">
        <input type="text" name="time" maxlength="100" formControlName="customerTime"
        placeholder="When may I call you ?">
      </li>
      <li>
        <textarea name="textarea" formControlName="customerMessage" placeholder="Message.."></textarea>
      </li>
    </ul>
    <button type="submit" class="btn" [disabled]="!contactForm.valid">
      <span>{{status}}</span>
    </button>
  </form>
</div>
