/* You can add global styles to this file, and also import other style files */

@import "assets/css/foundation.min.css";

@font-face {
  font-family: "codec";
	src: url("assets/fonts/codec.ttf") format("truetype"),
}
//Global styles where normalize do not take place

body {
  font-family: "codec";
  color: #233250;
}

li {
  list-style: none;
}

.btn {
  transition: 500ms;
  width: 300px;
  padding: 2em;
  border-radius: 3px;
  text-align: center;
  font-size: 1.2rem;
  display: inline-block;

  &:disabled {
    cursor: not-allowed;
  }

  span{
    color: #233250;
    text-decoration: none;
    border-bottom: 1px solid rgba(35, 50, 80, 1);
    transition: 500ms;
  }

  &:hover {
    -moz-box-shadow: inset 0px 9px 20px 0px rgba(143,143,143,0.5);
    -webkit-box-shadow: inset 0px 9px 20px 0px rgba(143,143,143,0.5);
    box-shadow: inset 0px 9px 20px 0px rgba(143,143,143,0.5);
    -moz-text-shadow: 0 7px 7px rgba(143,143,143,0.5);
    -webkit-text-shadow: 0 7px 7px rgba(143,143,143,0.5);
    text-shadow: 0 7px 7px rgba(143,143,143,0.5);

    span{
      border-bottom: 1px solid rgba(35, 50, 80, 0.1);
    }
  }
}

//sidebar

.sidebar {
  background-color: #233250;

  img {
    width: 100px;
    margin: 50px;
  }

  ul {
    padding: 0;

    a,
    a:visited,
    a:focus {
      color: white;
      text-decoration: none;
      outline: none;
    }
  }

  li {
    text-align: center;
    padding: 15px;
    list-style: none;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  z-index: 20;
  height: unset;


  // Close button

  svg {
    position: relative;
    cursor: pointer;
  }

  svg path{
    stroke-width: 20;
    stroke-linecap: round;
    stroke: #233250;
    fill: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  &.open {
    svg path {
      stroke: white;
    }
  }
}

/* In menu form */

.top_bar,
.bottom_bar{
  stroke-dasharray: 240px 910px;
}

.middle_bar{
  stroke-dasharray: 240px 240px;
}

/* In cross form */

.open .top_bar,
.open .bottom_bar{
  stroke-dashoffset: -650px;
}

.open .middle_bar{
  stroke-dasharray: 0px 220px;
  stroke-dashoffset: -120px;
}
